<div class="container">
    <div class="card w-75 mx-auto">
        <div class="">
            <%=link_to "Back",user_dashboard_path(current_user),class: "text-info h5"%>
        </div>
        <div class="card-title h2 text-center mt-5 mb-4">
            Activity:
            <strong>
                <% if @activity.user == current_user %>
                    <%=link_to "You",user_path(@activity.user),class: "text-muted"%>
                <% else %>
                    <%=link_to @activity.user.name,user_path(@activity.user),class: "text-muted"%>
                <% end %>
            </strong>
            <span>
                <% if @activity.action_type == "Relationship" %>
                    followed
                    <%=link_to @users.find_by(id: @activity.action.followed_id).name,user_path(@users.find_by(id: @activity.action.followed_id)),class: "badge badge-secondary"%>
                <% else %>
                    learned <%=@activity.action.result%> of <%=@activity.action.choices.count%>
                    <%=link_to @activity.action.category.title,lesson_path(@activity.action),class: "badge badge-primary"%>
                <% end %>
            </span>
        </div>
        <div class="card-body">
            <div class="container">
                <p class="text-center mb-5">This activity has <%= pluralize(@comments.count, "Comment") %>.</p>
                <% @comments.each do |com| %>
                    <div class="media mb-4">
                        <div class="avatarsquare">
                            <div class="default">
                                <% if com.user.avatar? %>
                                    <%= image_tag com.user.avatar.url,style: 'width: 50px; height: 50px;'%>
                                <%else%>
                                    <%= image_tag "/assets/11.svg", class: '',style: 'width: 50px; height: 50px;'%>
                                <%end%>
                            </div>
                        </div>
                        <div class="media-body ml-2 row">
                            
                            <div class="col-md-3">
                                <%=link_to com.user.name,user_path(com.user),class: ""%>
                                <div>
                                    <small class="text-muted"><%= time_ago_in_words(com.created_at) %> ago</small>
                                </div>
                            </div>
                            <div class="col-md-7 h5">
                                <%= com.content %>
                            </div>
                            <div class="col-md-2 text-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_<%=com.id%>">
                                    Reply
                                </button>
                                <%= form_for @reply do |f|%>
                                    <div class="modal fade" id="exampleModal_<%=com.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Please write your reply here!</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="">
                                                                    <%= f.text_area :content, class: 'form-control w-100 mx-auto' %>
                                                                </div>
                                                                <%= f.hidden_field :comment_id, value: com.id%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <div class="ml-2">
                                                        <%= f.submit 'Reply',class: 'btn btn-primary form-control'%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <% if com.replies %>
                                <% com.replies.each do |reply|%>
                                    <div class="bg-light row col-md-12">
                                        <div class="col-md-4">
                                            Reply: from
                                            <%=link_to reply.user.name,user_path(reply.user),class: ""%>
                                            <div>
                                                <small class="text-muted"><%= time_ago_in_words(reply.created_at) %> ago</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <%=reply.content%>
                                        </div>
                                    </div>
                                    
                                <% end %>
                            <% end %>
                        </div>
                        
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>