<% @activities.each_with_index do |activity,index|%>
    <div id="#{index}">
        <div class="media mb-4">
            <div class="avatarsquare">
                <div class="default">
                    <% if activity.user.avatar? %>
                        <%= image_tag activity.user.avatar.url,style: 'width: 50px; height: 50px;'%>
                    <%else%>
                        <%= image_tag "/assets/11.svg", class: '',style: 'width: 50px; height: 50px;'%>
                    <%end%>
                </div>
            </div>
            <div class="media-body ml-2 row">
                <div class="col-md-5">
                    <strong>
                        <% if activity.user == current_user %>
                            <%=link_to "You",user_path(activity.user),class: "text-muted"%>
                        <% else %>
                            <%=link_to activity.user.name,user_path(activity.user),class: "text-muted"%>
                        <% end %>
                    </strong>
                    <span>
                        <% if activity.action_type == "Relationship" %>
                            followed
                            <%=link_to @users.find_by(id: activity.action.followed_id).name,user_path(@users.find_by(id: activity.action.followed_id)),class: "badge badge-secondary"%>
                        <% else %>
                            learned <%=activity.action.result%> of <%=activity.action.choices.count%>
                            <%=link_to activity.action.category.title,lesson_path(activity.action),class: "badge badge-primary"%>
                        <% end %>
                    </span>

                    

                    <div>
                        <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                    </div>
                </div>
                
                <% if activity.user != current_user %>
                    <div class="col-md-2">
                        <% if activity.votes.find_by(user_id: current_user.id) %>
                            <%= link_to downvote_activity_path(activity), method: :delete do %>
                                <%= fa_icon 'heart',class: "text-danger"%>
                            <% end %>
                        <% else %>
                            <%= link_to upvote_activity_path(activity), method: :post do %>
                                <%= fa_icon 'heart',class: "text-secondary"%>
                            <% end %>
                        <% end %>

                        <%= activity.votes.count%>
                    </div>
                    <div class="col-md-5">
                        <div class="" id="<%=index%>">
                            <%= form_for ([activity, @comment]) do |f|%>
                                <div class="form-group row">
                                    <div class="">
                                        <%= f.text_area :content, class: 'form-control',placeholder: 'Write your comment.', style: 'height:39px;' %>
                                    </div>
                                    <%= f.hidden_field :activity_id, value: activity.id%>

                                    <div class="ml-2">
                                        <%= f.submit 'Post',class: 'btn btn-primary form-control'%>
                                    </div>
                                    
                                </div>
                                
                            <% end %>
                        </div>
                    </div>

                    
                <% end %>
            </div>
        </div>
    </div>
    
<% end %>