<div class="card">
    <div class="card-body text-center">
        <div class="avatar">
            <div class="default">
                <% if @user.avatar? %>
                    <%= image_tag @user.avatar.url, class: 'w-50 rounded-circle'%>
                <%else%>
                    <%= image_tag "/assets/11.svg", class: '',style: 'width: 90px; height: 90px;'%>
                <%end%>
            </div>
        </div>

        <h3 class="mb-0"><%= @user.name%></h3>
        <div class="mb-3"><%= @user.email%></div>
        <% if @user!=current_user%>
            <% if current_user.relationship(@user) %>
                <%= button_to 'Unfollow',relationship_path(@user),
                    params: {followed_id: @user.id},
                    method: :delete,
                    class:"btn btn-danger"
                %>
            <%else%>
                <%= button_to 'Follow',relationships_path,
                    params: {followed_id: @user.id},
                    class:"btn btn-primary" 
                %>
            <%end%>
        <%end%>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="text-center">
            <div class="d-inline-block mr-4">
                <%= link_to @user.active_relationships.count, following_user_path%>
                <span>following</span>
            </div>
            <div class="d-inline-block">
                <%= link_to @user.passive_relationships.count, followers_user_path%>
                <span>followers</span>
            </div>
        </div>
    </div>
</div>

<% @lessons.each do |lesson| %>
    <% @howmany += lesson.words.count %>
<% end %>
<div class="card mt-4">
    <div class="card-body text-center">
        <% if @user == current_user %>
            <%= link_to "#{@howmany} words learned", words_path , class: "btn btn-info btn-block no-border p-5"%>
        <% else %>
            <%= pluralize(@howmany, "word") %>
            <span>learned</span>
        <% end %>
    </div>
</div>