<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <%=render 'user_info'%>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h4>Following</h4>
                </div>
                <div class="card-body">
                    <% @users.each do |user| %>
                        <div class="media mb-4 border-bottom pb-3">
                            <% if user.avatar? %>
                                <%= image_tag user.avatar.url, class: 'rounded-circle',style: 'width: 90px;'%>
                            <%else%>
                                <%= image_tag "/assets/11.svg", class: '',style: 'width: 90px; height: 90px;'%>
                            <%end%>
                            <div class="media-body ml-3 pt-4">
                                <span class="h5"><%= link_to user.name,user_path(user)%></span>
                                <%= button_to 'Unfollow',relationship_path,params: {followed_id: user.id},method: :delete, class:"btn btn-danger float-right"%>
                            </div>
                        </div>
                    <% end %>
                    <div class="paginate text-center">
                        <%= will_paginate @users%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>