<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <%=render 'user_info'%>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h4>Words Learned</h4>
                </div>
                <div class="card-body">
                    <span>Category:</span>
                    <span class="dropdown">
                        <button class="btn btn-bordered dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><%= link_to "All Learned",words_path ,class: "btn btn-outline-secondary w-100"%></li>
                            <% @categories.each do |category|%>
                                <li><%= link_to category.title,words_path(cate: category.title) ,class: "btn btn-outline-secondary w-100"%></li>
                            <%end%>
                        </div>
                    </span>
                    <%if !@cate %>
                        <strong class="float-right h3">All Categories</strong>
                    <%else%>
                        <strong class="float-right h3"><%= @cate %></strong>
                    <%end%>
                    <table class="table">
                        <tr>
                            <th>Word</th>
                            <th>Your Answer</th>
                            <th colspan="2">Correct Answer</th>
                        </tr>
                        <% @lessons.each do |lesson| %>
                            <% lesson.words.each do |word| %>
                                <tr>
                                    <td><%= word.content %></td>
                                    <td><%= word.choices.find_by(id: lesson.answers.find_by(word_id: word.id).choice_id).content %></td>
                                    <td><%= word.choices.find_by(is_correct: true).content %></td>
                                    <td>
                                        <% if word.choices.find_by(id: lesson.answers.find_by(word_id: word.id).choice_id).content == word.choices.find_by(is_correct: true).content%>
                                            <i class="fa fa-check text-success"></i>
                                        <%else%>
                                            <i class="fa fa-times text-danger"></i>
                                        <%end%>
                                    
                                    </td>
                                </tr>
                            <%end%>
                            
                        <%end%>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
