<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <span>Admin | Categories</span>
                </div>
                <div class="col-sm-6 text-right">
                    <%= link_to "Add Category",new_admin_category_path,class: "btn btn-sm btn-success"%>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th class="">Title</th>
                <th class="">Description</th>
                <th class="text-center">Words</th>
                <th class="">Action</th>
            </tr>
            <% @categories.each do |category|%>
                <tr>
                    <td>
                        <%= category.title %>
                    </td>
                    <td>
                        <%= category.description %>
                    </td>
                    <td class="text-center">
                        word
                    </td>

                    <td>
                        <%= link_to "Add Word",admin_category_words_path(category),class: "btn btn-sm btn-primary"%>
                        <%= link_to "Edit",edit_admin_category_path(category),class: "btn btn-sm btn-warning"%>
                        <%= link_to "Remove",admin_category_path(category),method: :delete,class: "btn btn-sm btn-secondary"%>
                    </td>
                </tr>
            <% end %>
            
        </table>
        <div class="paginate text-center">
            <%= will_paginate @categories%>
        </div>
    </div>
</div>
