<div class="container">
    <ul class="nav nav-pills nav-warning float-right justify-content-end">
        <li class="nav-item">
            <%=link_to "All", categories_path, class: "nav-link #{'active' if !@page}"%>
        </li>
        <li class="nav-item">
            <%=link_to "Learned", categories_path(learned: "learned"), class: "nav-link #{'active' if @page.eql?('learned')}"%>
        </li>
        <li class="nav-item">
            <%=link_to "Not Learned", categories_path(learned: "notlearned"), class: "nav-link #{'active' if @page.eql?('notlearned')}"%>
        </li>
    </ul>
    <h1 class="">Categories(<%=@categories.count%>)</h1>
    <hr>

    
    
    <div class="row">
        <% @categories.each do |category|%>
            <%# if category.words.count != 0 %>
                <div class="col-md-6">
                    <div class="card my-3">
                        <div class="card-body">
                            <strong class="h2"><%= category.title%></strong><br>
                            <div class="mt-3 mb-5">
                                <strong>[<%= pluralize(category.words.count, "word")%>] </strong><span><%=category.description%></span>
                            </div>
                            
                            <%#if category.lessons.find_by(user_id: current_user.id).result == nil %>
                            <% if category.lessons.find_by(user_id: current_user.id) && category.lessons.find_by(user_id: current_user.id).answers.count != category.words.count %>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <%= button_to "Continue",new_lesson_answer_path(lesson_id: category.lessons.find_by(user_id: current_user.id).id),method: :get,class: "btn btn-info text-white w-100"%>
                                    </div>
                                    <div class="col-sm-6">
                                        <%= button_to "Restart",lesson_path(category.lessons.find_by(user_id: current_user.id)),method: :delete,class: "btn btn-success text-white w-100"%>
                                    </div>
                                </div>
                                
                            <% elsif category.lessons.find_by(user_id: current_user.id) %>
                                <div class="container">
                                    <%= link_to "Show Result", lesson_path(category.lessons.find_by(user_id: current_user.id)), class: "btn btn-outline-secondary w-100"%>
                                </div>

                            <% else %>
                                <div class="container">
                                    <%= button_to "Learn",lessons_path(category_id:category.id),class: "btn btn-primary text-white w-100"%>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <%# end %>
        <%end%>
    </div>
    <div class="paginate text-center">
        <%= will_paginate @categories%>
    </div>
</div>
